h6{
    color: red;
    
}
.major{
    margin-top: 0.2%;
}
.mainlog{
    background-image: url('72baba5a28aec6ead9fe7cdf81d8648a.jpg');
    height: 100%;
    /* margin-top: 8%; */
}

.tasveer{
    background-image: url('./96546546large (1).jpg');
    
}