.secdiv{
    /* border-left: white 10px solid; */
    background-image: url('./Madre.jpg');
    margin-top: 5%;
    padding-left: 0;
    /* background-image: url(Madre.jpg); */
}
.sample{
    width: 100%;
     height: 80%; 
}
.firstdiv{
    margin-top: 16%;
    display: block;
    /* margin-left: 1%; */
    /* background-color: green; */
    /* z-index: 500px; */
}
.clor{
    /* background-color: red ; */
    min-width: 1200px;
    max-width: 1400px;
    margin-bottom: 10%;
    position: relative;
    top: 800px;
    height: 1300px;
}
/* .para{
    text-align: left;
    margin-left: 10%;
} */
.para{ 
    position: relative;
    /* padding: 72px 108px 72px 36px; */
    /* margin: px 0; */
    /* z-index: 20; */
    color: #000;
    background-color: rgba(255,255,255,0.9);
    text-align: left;
    margin-left: 10%;
}
.row{
    width: 100%;
    /* height: 100%; */
}
@media only screen and (min-width: 360px) and (max-width: 628px){
    .firstdiv{
        margin-top: -50%;
        margin-right: 10%;
        max-width: 40%;
        display: block;
    }
    .secdiv{
        /* margin-top: -50%;
        margin-right: 10%;
        max-width: 40%; */
        /* visibility: hidden; */
        max-width: 0%;
        
    }
    .clor{
        max-width: 40%;
    }
    .para{
        margin: 0 0;
        max-width: 80%;
    }
    .sample{
        max-width: 10%;
    }
}